.body-info-container {
  display: flex;
  align-items: flex-end;
}
.body-info-container > img {
  height: 15vw;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  min-height: 190px;
}

.body-info {
  flex: 1;
  padding: 10px;
}

.body-info > h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.body-info > p {
  font-size: 12px;
}
