.footer-container {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  padding: 20px;
  color: rgba(255, 255, 255, 0.85);
}

/* Left Section */
.footer-left-container {
  display: flex;
  align-items: center;
  max-width: 320px;
  flex: 0.3;
  max-width: 320px;
}

.music-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.music-info-container h4 {
  margin-bottom: 5px;
  overflow: auto;
  width: 25ch;
}
.music-info-container p {
  font-size: 12px;
}
.footer-album-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 20px;
}
.footer-favorite-icon {
  margin-left: 18px;
  padding: 2px;
}

/* Center Section */
.footer-center-container {
  flex: 0.4;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 340px;
  min-width: 260px;
}

.footer-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.footer-icon {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.footer-icon:hover {
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  -o-transform: scale(1.1) !important;
}

/* Right Section */
.footer-right-container {
  flex: 0.3;
  max-width: 280px;
}

.footer-right-container .footer-icon {
  margin-right: 8px;
}
.footer-right-container *.MuiSlider-root {
  margin-left: 4px;
  color: grey;
}

.footer-right-container *.MuiSlider-root:hover {
  color: #1db954;
}

.footer-icon-large {
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
}

.footer-icon-large:hover {
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transform: scale(1.8) !important;
  -webkit-transform: scale(1.8) !important;
  -moz-transform: scale(1.8) !important;
  -ms-transform: scale(1.8) !important;
  -o-transform: scale(1.8) !important;
}

/* Dynamic Classes */
.footer-green {
  color: #1db954;
}
