.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  min-height: 45px;
}

.header-left-container {
  display: flex;
  width: 90px;
  align-self: center;
  justify-content: space-between;
}

.header-navigation-container {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  background-color: #282828;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
.header-info-container {
  display: flex;
  align-items: center;
}

.header-upgrade-container {
  background-color: #282828;
  border: 1px solid white;
  padding: 8px 30px;
  border-radius: 32px;
  height: 100%;
  font-weight: 400;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.header-info-container {
  background-color: #282828;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.header-avatar {
  margin-right: 12px;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
