.sidebar-content {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding-left: 10px;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: color 250ms ease-in;
  -webkit-transition: color 250ms ease-in;
  -moz-transition: color 250ms ease-in;
  -ms-transition: color 250ms ease-in;
  -o-transition: color 250ms ease-in;
}

.sidebar-content:hover {
  color: white;
}

.sidebar-content-icon {
  margin-right: 8px;
}

.sidebar-content > p {
  margin: 10px 0 0 16px;
  font-size: 14px;
}
